---
---

@import "minima";

.site-title::before {
	content: url("/assets/RAMP_logo.svg");
	display: inline-block;
	position: relative;
	width: 35px;
	top: 11px;
}


/** Basic styling */
body { background-color: #F9F9F9;  
       font-family: "Open Sans", Open Sans, sans;
       font-size: 16px;
}

.site-nav a {   
    font-weight: bold;
    font-size: 18px;
}

h1 {   
    font-size: 12px;
    font-weight: bold;
}


footer { background-color: black;  
       font-family: "Open Sans", Open Sans, sans;
       font-size: 16px;
}

site-footer { color: red; }

a { color: #4032F9; text-decoration: none; }
a:visited { color: #4032F9; }

img.rounded-corners {
  margin-right: 20px;
  clip-path: circle();
}

img.next-to-text {
  margin-right: 20px;
}

img.pad-left {
    margin-left: 20px;
}

img.pad-right {
    margin-right: 20px;
}

img.pad-top-right {
    margin-right: 20px;
    margin-top: 10px;
}

img.pad-top-left {
    margin-left: 20px;
    margin-top: 10px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
